doctype html
html
    include ./head.pug
    body
        include ./navigation.pug

        section#gtco-header.bg-light
            .container
                .row
                    .col-lg-5.mx-auto
                        h2 Team
                        p.lead
                        | All team members have equal and full control 
                        | of all the experiments created by the team. 
                        | To add a member use his/her username. To check your user name, go to 
                        a(href='/profile') profile.
                    .col-lg-6.mx-auto
                        if team.id
                            - var butt='UPDATE'
                            h2 Edit Team
                        else
                            - var butt='CREATE'
                            h2 Create Team
                        form#team_update
                            .form-group
                                label(for='name') Name *
                                input#name.form-control(type='text',required='',value=team.name)
                                p#name_valid
                            .form-group
                                label(for='description') Description * 
                                input#description.form-control(type='text',required='',value=team.description)
                                p#description_valid
                            .form-group
                                label(for='members') Members * 
                                input#members.form-control(type='text',required='',value=team.members)
                                p#members_valid
                            .form-group
                                label(for='teamurl') Team web page/github repo.
                                input#teamurl.form-control(type='text', value=team.url)
                            .form-group
                                button#team_update_button.btn.btn-primary #{butt}  
                                if team.id
                                    button#team_delete_button.btn.btn-primary Delete  

        include ./footer.pug

        script(src='/js/main.js')
        script(src='/js/handling.js')


